@media (max-width:480px){
    .docs-header h2 {
        color: white;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .docs-header .container{
        padding-bottom: 10px;
    }
}
.post-content {
    font-size: 16px;
}
.index-post-item {
    font-size: 19px;
    color: black;
}
a.yxy-link:hover,a.yxy-link:focus,a.yxy-link:active{
    color: #0075c9;
    text-decoration: none;
}
a.index-post-item:hover,a.index-post-item:focus,a.index-post-item:active{
    color: #0075c9;
    text-decoration: none;
}
.index-post-date a,.index-post-date{
    font-size: 14px;
    color: #C8C8C8;
}
.docs-header .container{
    text-align: left;
}
.latest-article{
    margin-left: 10px;
    border-left: 4px solid #29abe2;
    color: #999;
    font-size: 19px;
    margin-bottom: 10px;
}
pre{
    overflow-x: auto;
}
.highlighter-rouge pre code {
    white-space: pre;
}
code.highlighter-rouge{
    white-space: pre-line;
}
code.language-pascal{
    white-space: pre;
}
img {
    max-width: 100%;
}